@font-face {
    font-family: 'AmaticSC';
    src: url('../fonts/AmaticSC-Regular.ttf') format('truetype'),
         url('../fonts/AmaticSC-Bold.ttf') format('truetype');
}       

html {
    font-size: 30px;
    font-family: 'AmaticSC', sans-serif;
    background-color: #FA6F6F;
}

body {
    background-color: #6FB5FA;
    width: 700px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 3px solid black;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #E9B03E;
    text-shadow: 3px 3px 1px black;
    font-size: 78px;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}

p,
li {
    font-size: 22px;
    line-height: 3;
    letter-spacing: 2px;
    text-align: center;
}